@model PuzzleViewModel
@{
  ViewData["Title"] = $"Solution - #{Model.Id}";
}
<div class="container">
  <div class="row">
    <div class="col text-end">
      <p class="lead">
        <a asp-controller="Solution" asp-action="Index" asp-route-id="@Model.Id">Slution#
          @Model.Id</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-end">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a asp-controller="Puzzle" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-primary">
          <i class="bi bi-grid-3x3-gap"></i>
          <span class="ms-2">Puzzle</span>
        </a>
        <button type="button" class="btn btn-outline-primary" onclick="CopyPageUrlToClipboard()"
          data-bs-toggle="tooltip" data-bs-placement="top" title="Copy url to clipboard">
          <i class="bi bi-copy"></i>
          <span class="ms-2">Copy</span>
        </button>
        <a asp-controller="Solution" asp-action="Print" asp-route-id="@Model.Id" class="btn btn-outline-primary"
          target="_blank" rel="noopener noreferrer">
          <i class="bi bi-printer"></i>
          <span class="ms-2">Print</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-sudoku">
        <tbody>
          @for (int i = 0; i < 9; i++)
          {
            <tr>
              @for (int j = 0; j < 9; j++)
              {
                <td>@(Model.Grid[i, j] == 0 ? "" : Model.Grid[i, j])</td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
